<div class="mt-8">
  <div class="flex gap-2 items-end justify-between">
    <h1 class="text-2xl font-semibold">Backup</h1>
    <div class="flex gap-2">
      <p-button 
        icon="pi pi-refresh" 
        [loading]="loading()" 
        (onClick)="refresh()"
        label="Actualiser"
        [outlined]="true">
      </p-button>
    </div>
  </div>
  <p-divider />
  <div class="flex justify-end gap-2 mb-4">
    <p-selectbutton
      [options]="backupTypeOptions"
      [(ngModel)]="typeValue"
      optionLabel="label"
      optionValue="value">
    </p-selectbutton>
    <p-select
      [options]="projectOptions"
      [(ngModel)]="projectValue"
      optionLabel="label"
      optionValue="value"
      [style]="{'min-width': '200px'}">
    </p-select>
  </div>

    @if (loading()) {
      <app-backup-table-secleton />
    } @else if (currentBackups().length === 0) {
      <div class="empty-state">Aucune sauvegarde disponible</div>
    } @else {
      <p-table 
        [value]="currentBackups()" 
        [paginator]="true" 
        [rows]="10"
        size="small"
        [rowsPerPageOptions]="[10, 25, 50]"
        styleClass="p-datatable-striped">
        <ng-template pTemplate="header">
          <tr>
            <th>Date</th>
            <th>Taille</th>
            <th><i class="pi pi-cog"></i></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-backup>
          <tr>
            <td class="font-medium">{{ formatDate(backup.date) }}</td>
            <td>{{ formatBytes(backup.size) }}</td>
            <td>
              <div class="flex gap-2">
                <p-button 
                  icon="pi pi-download" 
                  [outlined]="true"
                  (onClick)="downloadBackup(backup)"
                  pTooltip="Télécharger"
                  size="small"
                  tooltipPosition="top">
                </p-button>
                <p-button 
                  icon="pi pi-refresh" 
                  [outlined]="true"
                  severity="warn"
                  size="small"
                  (onClick)="openRestoreDialog(backup)"
                  pTooltip="Restaurer"
                  tooltipPosition="top">
                </p-button>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    }
  @if (restoreDialogVisible() && selectedBackup()) {
    <app-restore-dialog
      [visible]="restoreDialogVisible()"
      [backup]="selectedBackup()!"
      [project]="selectedProject()"
      [backupType]="selectedType()"
      (close)="closeRestoreDialog()">
    </app-restore-dialog>
  }
</div>

